@use '../root/colors';

$fontSize: 2rem;

@mixin button($color) {
  font-size: $fontSize;
  cursor: pointer;
  background: $color;
  padding: 10px 15px;
  width: fit-content;
  border: none;
  &:hover {
    background: darken($color, 10);
  }
  &.outline {
    color: $color;
    border: 1px solid $color;
    padding: 8px 13px;
    background: #ffffff00;
    transition: all 100ms linear;
  }
  &.outline:hover {
    color: #ffffff;
    background: $color;
  }
  &.xs {
    font-size: $fontSize/1.5;
    padding: 6px 10px;
  }
  &.sm {
    font-size: $fontSize / 1.2;
    padding: 8px 12px;
  }
  &.lg {
    font-size: $fontSize / 0.8;
    padding: 10px 15px;
  }
  &.xl {
    font-size: $fontSize / 0.6;
    padding: 15px 25px;
  }
  &.rounded {
    border-radius: 7px;
  }
  &.link {
    color: $color;
    padding: 0;
    border: 2px solid $color;
    border: none;
    background: #ffffff00;
    &:hover {
      color: darken($color, 15);
      border: 2px solid darken($color, 15);
      border: none;
    }
  }
}

.btn.primary {
  @include button(colors.$primary);
}

.btn.secondary {
  @include button(colors.$secondary);
}

.btn.link {
  @include button(colors.$lightPrimary);
}

.btn.white {
  color: colors.$whiteText;
}
