@use '../root/colors';

$fontSize: 2rem;

@mixin button($color) {
  font-size: $fontSize;
  cursor: pointer;
  background: $color;
  padding: 1rem 1rem;
  width: fit-content;
  border: none;
  &:hover {
    background: darken($color, 10);
  }
  &.outline {
    color: $color;
    border: .1rem solid $color;
    padding: .8rem 1.3rem;
    background: #ffffff00;
    transition: all 100ms linear;
  }
  &.outline:hover {
    color: #ffffff;
    background: $color;
  }
  &.xs {
    font-size: $fontSize/1.5;
    padding: .6rem 1rem;
  }
  &.sm {
    font-size: $fontSize / 1.2;
    padding: .8rem 1.2rem;
  }
  &.lg {
    font-size: $fontSize / 0.8;
    padding: 1rem 1.5rem;
  }
  &.xl {
    font-size: $fontSize / 0.6;
    padding: 1.5rem 2.5rem;
  }
  &.rounded {
    border-radius: .7rem;
  }
  &.link {
    color: $color;
    padding: 0;
    border: .2rem solid $color;
    border: none;
    background: #ffffff00;
    &:hover {
      color: darken($color, 15);
      border: .2rem solid darken($color, 15);
      border: none;
    }
  }
  &.close {
    border: none;
  }
  &.add {
    border-radius: 50%;
    padding: 1rem;
    height: 10rem;
    width: 10rem;
    svg {
      fill: colors.$whiteText;
      width: 100%;
      height: 100%;
    }
    &.sm {
      height: 7.5rem;
      width: 7.5rem;
    }
    &.lg {
      height: 12.5rem;
      width: 12.5rem;
    }
  }
}

.btn.primary {
  @include button(colors.$primary);
}

.btn.secondary {
  @include button(colors.$secondary);
}

.btn.link {
  @include button(colors.$lightPrimary);
}

.btn.white {
  color: colors.$whiteText;
}
