@use '../root/colors';

@mixin button($color) {
  font-size: 2rem;
  cursor: pointer;
  background: $color;
  padding: 10px 15px;
  &:hover {
    background: darken($color, 10);
  }
  &.outline {
    color: $color;
    border: 2px solid $color;
    padding: 8px 13px;
    background: #ffffff00;
    transition: all 1s linear;
  }
  &.outline:hover {
    color: #ffffff;
    background: $color;
  }
  &.sm {
    font-size: 1.6rem;
    padding: 8px 12px;
    &.outline,
    &.link {
      padding: 6px 10px;
    }
  }
  &.lg {
    font-size: 2.4rem;
    padding: 15px 20px;
    &.outline,
    &.link {
      padding: 13px 18px;
    }
  }
  &.rounded {
    border-radius: 10px;
  }
  &.link {
    color: $color;
    padding: 8px 13px;
    border: 2px solid $color;
    background: #ffffff00;
    &:hover {
      color: darken($color, 15);
      border: 2px solid darken($color, 15);
    }
  }
}

.btn.primary {
  @include button(colors.$primary);
}

.btn.secondary {
  @include button(colors.$secondary);
}

.btn.link {
  @include button(colors.$primary);
}
