@use '../root/colors';

.error {
  background: colors.$errorBackground;
  color: colors.$errorColor;
  border: 2px solid colors.$errorColor;
  width: 500px;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  p {
    font-size: 2.2rem;
  }
}
