@use '../root/colors';

.form {
  width: fit-content;
  border: 1px solid colors.$lightGray;
  border-bottom: 2px solid colors.$gray;
  background: colors.$darkWhite;
  padding: 50px;
  margin: 25px auto;
  .heading {
    margin-bottom: 25px;
    color: colors.$lightBlack;
  }
  .actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .form {
    margin: 0 auto;
    padding: 25px;
    .actions {
      max-width: 250px;
    }
  }
}
