@use '../root/colors';

.form {
  width: fit-content;
  border: 0.1rem solid colors.$lightGray;
  border-bottom: 0.2rem solid colors.$gray;
  background: colors.$darkWhite;
  padding: 5rem;
  margin: 2.5rem auto;
  .heading {
    margin-bottom: 2.5rem;
    color: colors.$tertiary;
  }
  .actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 30rem;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .form {
    margin: 4.5rem auto 3rem;
    padding: 2.5rem;
    .actions {
      max-width: 25rem;
    }
  }
}
