@use '../root/colors';

.header {
  position: fixed;
  width: 100%;
}

.navbar {
  height: 100%;
  padding: 1.5rem 16.5%;
  box-shadow: 0 0.3rem 0.5rem #00000030;
  background: colors.$white;
  .list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    .listItem {
      margin: 0 6.5rem 0 0;
      color: colors.$primary;
      &:first-child {
        flex: auto;
      }
      > a {
        &:hover {
          text-decoration: underline dashed;
        }
        &:visited {
          color: colors.$primary;
        }
      }
    }
  }
}
