@use '../root/colors';

.header {
  position: fixed;
  width: 100%;
}

.hamburger svg {
  aspect-ratio: 1;
  width: 3.5rem;
  padding: 1.5rem;
}

svg.close {
  padding: 0;
}

.navigation {
  &.hamburger {
    display: none;
  }
  &.desktop {
    display: contents;
  }
}

.sidebar {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1.5rem;
  background-color: #ffffff;
  width: 0;
  height: 100%;
  transition: width 200ms linear;
  display: grid;
  grid-template-rows: repeat(auto-fit, 5rem);
  gap: .2rem;
  .listItem {
    > a {
      font-size: 3rem;
      width: 100%;
      &:hover {
        background-color: colors.$primary;
        color: colors.$white;
        transition: background-color 200ms linear;
        transition: color 200ms linear;
      }
    }
  }
  &.active {
    width: 100%;
  }
}

.navbar {
  height: 100%;
  padding: 1.5rem 16.5%;
  box-shadow: 0 0.3rem 0.5rem #00000030;
  background: colors.$white;
  .list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    .listItem {
      margin: 0 6.5rem 0 0;
      color: colors.$primary;
      &:first-child {
        flex: auto;
      }
      > a {
        &:hover {
          text-decoration: underline dashed;
        }
        &:visited {
          color: colors.$primary;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    &.hamburger {
      display: contents;
    }
    &.desktop {
      display: none;
    }
  }
  .navbar {
    padding: 1.5rem;
  }
}