@use '../root/colors';

.input {
  width: 300px;
  border: 1px solid colors.$gray;
  border-bottom: 1px solid colors.$lightGray;
  color: colors.$tertiary;
  background: colors.$background;
  font-size: 1.8rem;
  min-height: 40px;
  padding: 5px 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  &::placeholder {
    color: colors.$placeholder;
  }
  &:focus {
    border: 1px solid colors.$primary;
  }
}

.label {
  display: block;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 100%;
  &:focus {
    color: colors.$primary;
  }
  &.required::after {
    content: ' *';
    color: colors.$errorColor;
  }
}

@media screen and (max-width: 550px) {
  .input {
    width: 250px;
  }
  .label {
    width: 250px;
  }
}
