@use '../root/colors';

.input {
  width: 30rem;
  border: 0.1rem solid colors.$gray;
  border-bottom: 0.1rem solid colors.$lightGray;
  color: colors.$tertiary;
  background: colors.$background;
  font-size: 1.8rem;
  min-height: 4rem;
  padding: 0.5rem 1rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  &::placeholder {
    color: colors.$placeholder;
  }
  &:focus {
    border: 0.1rem solid colors.$primary;
  }
}

.label {
  display: block;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: 100%;
  &:focus {
    color: colors.$primary;
  }
  &.required::after {
    content: ' *';
    color: colors.$errorColor;
  }
}

@media screen and (max-width: 550px) {
  .input {
    width: 25rem;
  }
  .label {
    width: 25rem;
  }
}
