@use '../root/colors';

.myForm {
  width: fit-content;
  border: 0.1rem solid colors.$lightGray;
  border-bottom: 0.2rem solid colors.$gray;
  background: colors.$darkWhite;
  padding: 5rem;
  margin: 2.5rem auto;
  .heading {
    margin-bottom: 2.5rem;
    color: colors.$tertiary;
  }
}

.table {
  width: min(95%, 130rem);
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 0.5fr));
  width: 100%;
  border: 0.1rem solid colors.$lightGray;
  border-bottom: 0.1rem solid colors.$darkWhite;
  margin-bottom: 0.5rem;
  &.fields {
    border: none;
    .rowItem {
      width: fit-content;
      p {
        width: fit-content;
        font-weight: 500;
        color: colors.$secondary;
        text-transform: capitalize;
        font-size: 2rem;
      }
    }
  }
  .rowItem {
    padding: 1.5rem;
    width: 100%;
    p {
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      color: colors.$tertiary;
    }
  }
}
