@use '../root/colors';

.project {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: .1rem solid colors.$lightGray;
  border-bottom: .1rem solid colors.$darkWhite;
  width: min(95%, 100rem);
  .projectInfo {
    padding: 1.5rem;
    h6 {
      font-size: 1.6rem;
      font-weight: 500;
      color: colors.$tertiary;
    }
    p {
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: colors.$secondary;
    }
    width: 20%;
    .projectPriority {
      text-transform: capitalize;
    }
    .low {
      color: colors.$low;
    }
    .medium {
      color: colors.$medium;
    }
    .high {
      color: colors.$high;
    }
  }
}

@media only screen and (min-width: 1440p) {
  .project {
    width: 80%;
  }
}
@media only screen and (max-width: 550px) {
  .project {
    max-width: 54rem;
    .projectInfo {
      width: max(50%, 11rem);
      padding: 1rem;
    }
  }
}
