@use '../root/colors';

.table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: min(95%, 130rem);
  margin: auto;
  margin-bottom: 5rem;
}

.tableHeading {
  color: colors.$tertiary;
  margin: 2.5rem auto;
  text-align: center;
  font-weight: 300;
  &.left {
    text-align: left;
  }
}
