@use '../root/colors';

.projects {
  min-height: 100vh;
  .heading {
    margin-bottom: 4rem;
  }
  .content {
    padding: 12rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .floatButton {
    position: fixed;
    z-index: 1;
    right: max(25px, 15%);
    bottom: max(25px, 15%);
  }
}

@media screen and (max-width: 550px) {
  .projects {
    min-height: 130vh;
  }
}
