@use '../root/colors';

.projects {
  .heading {
    margin-bottom: 4rem;
  }
  .content {
    padding: 12rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .floatButton {
    position: fixed;
    right: 5%;
    bottom: 5%;
  }
}

@media screen and (max-width: 550px) {
  .projects {
    min-height: 130vh;
  }
}
