.projects {
  .heading {
    margin-bottom: min(120px, 5%);
  }
  .content {
    padding: 120px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  button {
    margin-top: min(120px, 5%);
  }
}

@media screen and (max-width: 550px) {
  .projects {
    min-height: 130vh;
  }
}
