$primary: #006eff;
$secondary: #1a4085;
$tertiary: #0a1e41;

$white: #ffffff;

$text: $tertiary;
$whiteText: $white;

$background: $white;

$selection: $secondary;
$selectionText: $text;

$focus: $primary;

$errorColor: #a50000;
$errorBackground: #ff6f6f;
