$lightPrimary: #009eff;
$primary: #006eff;
$secondary: #1a4085;
$tertiary: #0a1e41;

$white: #ffffff;
$darkWhite: #f3f3f3;
$lightGray: #dddddd;
$gray: #bbbbbb;
$lightBlack: #555555;
$black: #0f0f0f;

$text: $tertiary;
$whiteText: $white;

$background: $white;

$selection: $lightPrimary;
$selectionText: $text;

$focus: $primary;

$errorColor: #ff00006b;
$errorBackground: #ff747470;

$low: #7da169;

$medium: #dfb951;

$high: #ca3d3d;

$placeholder: #0f0f0f75;
