$lightPrimary: #009eff;
$primary: #006eff;
$secondary: #1a4085;
$tertiary: #0a1e41;

$white: #ffffff;
$black: #0f0f0f;
$lightBlack: #555555;
$gray: #bbbbbb;
$darkWhite: #dfdfdf;
$lightGray: #fafafa;

$text: $tertiary;
$whiteText: $white;

$background: $white;

$selection: $lightPrimary;
$selectionText: $text;

$focus: $primary;

$errorColor: #ff000070;
$errorBackground: #ff747470;

$placeholder: $black;
