@use './colors';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;500;700&display=swap');

body {
  font-family: 'Poppins', arial, sans-serif;
  color: colors.$text;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4.2rem;
}

h4 {
  font-size: 3.6rem;
}

h5 {
  font-size: 3rem;
  font-weight: 500;
}

h6 {
  font-size: 2.4rem;
  font-weight: 500;
}

p,
a,
button {
  font-size: 1.8rem;
  display: block;
  line-height: 1.5;
}

.title {
  color: colors.$primary;
}

.logo {
  font-family: 'Pacifico', cursive;
}